@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg: #daf5f0;
  --text: black;
}

body {
  background-color: var(--bg);
  color: black;
}

.input-custom {
  @apply w-96 border-2 p-2.5 focus:outline-none focus:bg-[#acddc3];
}

.input-custom:focus {
  @apply shadow-[2px_2px_0px_rgba(0,0,0,1)];
}

.input-custom:active {
  @apply shadow-[2px_2px_0px_rgba(0,0,0,1)];
}

button {
  @apply h-12 mt-5 border-2 p-2.5 bg-[#7fbc8c] hover:bg-[#6a9f75] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] active:bg-[#6a9f75];
}

a{
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
